<!--
 * @Author: Chuyang Su cs4570@columbia.edu
 * @Date: 2025-12-01 11:19:48
 * @LastEditors: Schuyn 98257102+Schuyn@users.noreply.github.com
 * @LastEditTime: 2025-12-01 11:20:08
 * @FilePath: /Unsupervised-Machine-Learning-Final-Project/Code/EDA.ipynb
 * @Description: 
 * 不要为了努力道歉
-->
## Exploratory Data Analysis

This part to fully explore the dataset and visualize the data distribution, feature relationships, and any patterns or anomalies present in the data. The goal is to gain insights that will inform subsequent modeling decisions.

In [2]:
'''
Author: Chuyang Su cs4570@columbia.edu
Date: 2025-12-01 11:19:48
LastEditors: Schuyn 98257102+Schuyn@users.noreply.github.com
LastEditTime: 2025-12-01 11:25:00
FilePath: /Unsupervised-Machine-Learning-Final-Project/Code/EDA.ipynb
Description: 
    EDA
'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import warnings

warnings.filterwarnings('ignore')

# Set style for better visualizations
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (12, 8)
plt.rcParams['font.size'] = 10

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

### Data Overview

In [5]:
df = pd.read_csv('Data/nbaplayersdraft.csv')

print(df.head())

   id  year  rank  overall_pick team          player     college  \
0   1  1989     1             1  SAC  Pervis Ellison  Louisville
1   2  1989     2             2  LAC     Danny Ferry        Duke
2   3  1989     3             3  SAS    Sean Elliott     Arizona
3   4  1989     4             4  MIA       Glen Rice    Michigan
4   5  1989     5             5  CHH       J.R. Reid         UNC

   years_active   games  minutes_played   points  total_rebounds  assists  \
0          11.0   474.0         11593.0   4494.0          3170.0    691.0
1          13.0   917.0         18133.0   6439.0          2550.0   1185.0
2          12.0   742.0         24502.0  10544.0          3204.0   1897.0
3          15.0  1000.0         34985.0  18336.0          4387.0   2097.0
4          11.0   672.0         15370.0   5680.0          3381.0    639.0

   field_goal_percentage  3_point_percentage  free_throw_percentage  \
0                  0.510               0.050                  0.689
1                  0.446               0.393                  0.840
2                  0.465               0.375                  0.799
3                  0.456               0.400                  0.846
4                  0.472               0.135                  0.716

   average_minutes_played  points_per_game  average_total_rebounds  \
0                    24.5              9.5                     6.7
1                    19.8              7.0                     2.8
2                    33.0             14.2                     4.3
3                    35.0             18.3                     4.4
4                    22.9              8.5                     5.0

   average_assists  win_shares  win_shares_per_48_minutes  box_plus_minus  \
0              1.5        21.8                      0.090            -0.5
1              1.3        34.8                      0.092            -0.9
2              2.6        55.7                      0.109             0.2
3              2.1        88.7                      0.122             0.8
4              1.0        22.5                      0.070            -2.9

   value_over_replacement
0                     4.4
1                     4.9
2                    13.5
3                    24.9
4                    -3.7

从89年开始选秀，顺位从状元依次向下排列。疑点（已解明）：rank是选秀前的预测顺位overall pick是球员最终的顺位

问题：有years active，跟我们预想的不同，因此需要truncate所有这一列不满5年的球员，将其作为测试集。

有出场次数、出场总时长、总得分等生涯总数，以及生涯平均命中率，之后的场均数据可以由之前的数据计算得出。

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1922 entries, 0 to 1921
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1922 non-null   int64
 1   year                       1922 non-null   int64
 2   rank                       1922 non-null   int64
 3   overall_pick               1922 non-null   int64
 4   team                       1922 non-null   object
 5   player                     1922 non-null   object
 6   college                    1585 non-null   object
 7   years_active               1669 non-null   float64
 8   games                      1669 non-null   float64
 9   minutes_played             1669 non-null   float64
 10  points                     1669 non-null   float64
 11  total_rebounds             1669 non-null   float64
 12  assists                    1669 non-null   float64
 13  field_goal_percentage      1665 non-null   float64
 14  3_point_percentage         1545 non-null   float64
 15  free_throw_percentage      1633 non-null   float64
 16  average_minutes_played     1669 non-null   float64
 17  points_per_game            1669 non-null   float64
 18  average_total_rebounds     1669 non-null   float64
 19  average_assists            1669 non-null   float64
 20  win_shares                 1669 non-null   float64
 21  win_shares_per_48_minutes  1668 non-null   float64
 22  box_plus_minus             1668 non-null   float64
 23  value_over_replacement     1669 non-null   float64
dtypes: float64(17), int64(4), object(3)
memory usage: 360.5+ KB

总共1922个人，存在不少缺失值，数据类型多样。

结合总体的数据来看，似乎有不少球员是只有选秀顺位没有任何其他数据的，这部分应该清除掉，条件暂定为year active及之后全部为空。

最后四个数据：WS、WS/48 是基于 box score + 球队效率的公式计算；
BPM、VORP 是用回归模型拟合出来的估计指标。

它们都不属于原始数据（raw stats），而是二次加工后的 advanced metrics。这点需要注意。

结合其他人的数据分析结果，不同年份选秀数量有些许差异，或许应该注意这点。

想法转变：被选秀选中但是从未出现在球场或很少出现在球场上的球员应该作为考虑因素，这样可以保留那些低顺位的球员难以出场的信息。

另外，我希望可以选择total data作为分析数据，因为其与场均数据只能选其一，而我更希望数据之间保持类型统一，这样方便处理，不必转换类型。场均数据可以作为之后结果的展示。

一个问题：能否将这1922个人全都放到一张2d图上进行展示？会不会过于密集？

综上所述：将数据进行切分，将2021年的那些尚在新秀赛季的球员作为后续试验的验证组；将场均数据，高级数据（后面四个）和球员姓名分离出模型训练部分，仅作展示用；将球员的选秀年份、被选中的队伍以及出身大学以embedding的方式转换类型；drop掉id的部分。将最终剩下的部分进行一个2d的pca，然后把高端数据做一个分段，每个画一张图，用四分段的方式进行染色。

In [7]:
df.describe()

,id,year,rank,overall_pick,years_active,games,minutes_played,points,total_rebounds,assists,field_goal_percentage,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
count,1922.000000,1922.000000,1922.000000,1922.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,1665.000000,1545.000000,1633.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,1668.000000,1668.000000,1669.000000
mean,961.500000,2005.317378,29.694589,29.694589,6.332534,348.042540,8399.055722,3580.413421,1497.009587,774.300779,0.436568,0.272405,0.716825,18.134032,7.275734,3.194368,1.550749,17.873697,0.061691,-2.311271,4.403176
std,554.977927,9.456946,16.912454,16.912454,4.656321,324.897567,9845.871529,4826.142847,2003.686388,1284.602969,0.083846,0.128339,0.118702,8.707656,4.969343,2.083895,1.488536,27.989805,0.094467,4.143403,11.461729
min,1.000000,1989.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.700000,-1.264000,-52.000000,-8.500000
25%,481.250000,1997.000000,15.000000,15.000000,2.000000,72.000000,838.000000,265.000000,128.000000,46.000000,0.404000,0.222000,0.659000,11.000000,3.400000,1.700000,0.500000,0.400000,0.030000,-3.900000,-0.400000
50%,961.500000,2005.000000,30.000000,30.000000,5.000000,235.000000,4204.000000,1552.000000,656.000000,257.000000,0.435000,0.317000,0.736000,17.700000,6.200000,2.800000,1.100000,5.300000,0.069000,-2.000000,0.000000
75%,1441.750000,2013.000000,44.000000,44.000000,10.000000,584.000000,13246.000000,5150.000000,2139.000000,910.000000,0.474000,0.356000,0.797000,24.800000,10.000000,4.200000,2.100000,24.500000,0.104000,-0.300000,4.500000
max,1922.000000,2021.000000,60.000000,60.000000,22.000000,1541.000000,52139.000000,37062.000000,15091.000000,12091.000000,1.000000,1.000000,1.000000,41.100000,27.200000,13.300000,9.500000,249.500000,1.442000,51.100000,142.600000

有一些数据的均值方差等指标是有意义的，然而前面几个并没有。

#### 可调整部分：

选择性的进行one hot，年份、球队和大学都可以不要。

是否标准化？

是否加入没有上过场的球员进入模型？

可以加入场均数据的百分位水平，以展示球员在对应维度的排位水平。

pca or nmf？